
@import url('https://fonts.cdnfonts.com/css/garet');
@import url('https://fonts.cdnfonts.com/css/');
@import 'bkb%20images%20and%20text/fonts/Montserrat-VariableFont_wght.woff2';

@font-face {
  font-family: 'Montserrat';
  src: url('/bkb%20images%20and%20text/fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
}

body,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, nav ul li{
    font-family: 'Garet', sans-serif;
    font-weight: 500;
}

p, li, h3 {
    font-family: 'Montserrat', sans-serif;
    
    }

body {
    line-height: 1;
    background-color: rgb(228, 228, 228);
    color: #000000;
    width: 100%;
    
  }
  
  header {

    padding: 25px;
    padding-inline: 10%;    
    
  }

   /*ANCHOR - Navigation*/

   .topnav {
    display: none; /* hide by default */
  }

  nav{
    padding: .5%;
    padding-inline: 10%;
    display: flex;
    background-color: #497c91;
  }

  nav img{
    width: 100px;
  }

  nav ul{
    padding-inline: 10%;      
    text-transform:uppercase;
    display: flex;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;  
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
    position: absolute;
    right: 0;
    

}

nav a {
    
    color: black;
    font-size: 1.3em;
    font-weight: 500;
    text-decoration: none;
    padding: .5em;
    padding-inline: 1em;
    position: relative;
    border-radius: 5px;
    transition: .5s; /* Animation */
    left: 0;
    transform: scaleX(1);  
    color: #fff;
    background-position: 0 calc(100% - var(--bottom-distance))

}



nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px; 
  background-color: #fff; 
  transform-origin: bottom left;
  transform: scaleX(0); 
  transition: transform 0.3s ease-in-out;
}

nav a:hover::before {
  transform: scaleX(1); 
}

    

  nav ul {
    list-style: none;
  }



  header {
    width: auto;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    font-size: 4em;
  }

  
  .container {
    padding-top: 10%;
  }

.container h1, p {
    color: white;
    padding-inline:5% ;
}


.background-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

  





main h1{
  font-size: 2em;
  margin-left: 11%; 
  padding: 20px;   
  
  
}

.line {
  border-bottom: 3px solid #497c91 ;
  width: 5%;
  margin-left: 11%;
  margin-top: -20px;

}

.information {
  background-color: #ffffff;
  color: #333;
  width: 74.5%;
  margin-left: 0;
  margin: auto;
  text-align: center;
  padding: 2%;
  filter:  drop-shadow(0px 3px 5px rgba(8, 8, 8, .3));
  border-bottom: 3px solid #497c91;
  margin-top: 2.5%;
}

.informationtext  {
  width: 74.5%;
  margin: auto;
  margin-bottom: 2%;
  background-color: #e6e6e6;
  filter:  drop-shadow(0px 3px 5px rgba(8, 8, 8, .3));
  padding: 2%;
  left: 0;
}

.informationtext p {
  margin-top: 0;
  width: auto;
}


.row1 {
  margin-bottom: -5%;
}
.row2{
  margin-bottom: -3.5%;
}
.special-offer-container {
  display: flex;
  margin-inline: 10%;
  margin-bottom: 10%;
 
}

.special-offer {
  filter:  drop-shadow(0px 3px 5px rgba(8, 8, 8, .3));
  margin: 1%;
  width: 33.3%;
  height: auto;
  text-align: center;
  background-color:#e6e6e6;
  
}

.item-image {
  background-color: #ffffff;
}

.item-image img{
  width: 80%;
}

.text-container {
  min-height: 51%;
  height: auto;
  background-color: #e6e6e6;
  padding: 2%;
  
}

.item-information {
  background-color: #e6e6e6;
  font-size: 0.9em;
  
}
.item-information p{
  width: auto;
}

.special-offer h2, p {
  color: #000000;
  width: 100%;
  text-align: left;
  padding-left: 5%;
  font-size: 1.3em;
  height: 25%;
  }


.special-offer h3{
  
  color: #E90308;
  text-align: left;
  padding-left: 5%;
}

.pricebutton {
  border-top: 2px solid #497c91;
  display: flex;
  margin-top: 5%;
  filter:  drop-shadow(0px 3px 5px rgba(8, 8, 8, .3));
}


.pricebutton a {
  margin-top: 2%;
  width: 50%;
  background-image: linear-gradient(to right, #E90308 50%, #333 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  height: 20%;
  padding: 3%;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  transition: background-position 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}

.pricebutton a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -95%;
  width: 100%;
  height: 100%;
  background-color: #E90308;
}

.pricebutton a:hover {
  background-position: left bottom;
}



.column-container{
  width: 78%;
  margin: auto;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  background-color: #333;
  color: #e6e6e6;
  filter:  drop-shadow(0px 3px 5px rgba(8, 8, 8, .3));
}

.column-container p {
  color: #e6e6e6;
}



.aboutus-column {
  width: 40%; 
}

.contactus-column {
  width: 40%; 
  margin-right: 9%;
 
}

.aboutus-column h1, .contactus-column h1{
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 3px solid #497c91;
  width: 100%;
}
.aboutus-column p, .contactus-column p{
  line-height: 1.3;
  margin-left:6.5%;
}

.formTitle {
  background-color: #ffffff;
  color: #333;
  width: 74.5%;
  margin-left: 0;
  margin: auto;
  text-align: center;
  padding: 2%;
  filter:  drop-shadow(0px 3px 5px rgba(8, 8, 8, .3));
  border-bottom: 3px solid #497c91;
}



.formsection {
  width: 78.5%;
  margin: auto;
  margin-bottom: 5%;
  background-color: #e6e6e6;
  filter:  drop-shadow(0px 3px 5px rgba(8, 8, 8, .3));
}

form{
  padding: 2%;
  
}

.formStyle { 
  background-color: #497c91;
  padding: 20px; 
  width: 400px; 
  margin: auto;
  margin-bottom: 1%;
  display: block;
  border-bottom-width: 1px; 
  border-bottom-style: solid; 
  border-bottom-color: #e6e6e6; 
  border-top-style: none; 
  border-right-style: none; 
  border-left-style: none; 
  font-size: 1em;
  font-weight: 100;
  color: #e6e6e6;
  border-radius: 10px;
}

.formButton {
  background-color:#e6e6e6;
  display: block;
  color:#497c91;
  font-size:28px;
  font-weight: 500;
  padding:6px 24px;
  text-decoration:none;
  margin: auto;
  width: 15%;
  text-align: center;
  filter:  drop-shadow(0px 3px 5px rgba(8, 8, 8, .3));
  font-family: 'Garet', sans-serif;
  border-radius: 10px;
}

.formButton:hover {
  background-color: #497c91;
  color:#e6e6e6;
  filter:  drop-shadow(0px 3px 5px rgba(8, 8, 8, .6));
}

.formButton:active {
  position:relative;
  top:3px;
  
}

/* To format the placeholder text color */
::-webkit-input-placeholder {
  color: #e6e6e6;
}

/*To remove the outline that appears on clicking the input textbox*/
input:focus {
  outline: none;
}

.popup {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #497c91;
  color: #e6e6e6;
  padding: 20px;
  border-radius: 5px;
  filter: drop-shadow(0px 3px 5px rgba(8, 8, 8, .3));
}

.popup-content {
  font-size: 20px;
}

.footersection {
  padding: 20px;   
  padding-inline: 10%;
  display: flex;
  background-color: #497c91;
  color: #fff;
  
  
}

.footersection img{
  margin-right: 5%;  
}

.footertext {
  margin: 2%;
  margin-right: 5%;
  width: auto;
  list-style: none;
  margin-inline: auto;
  
}

.footertext li{
  margin-top: 10px;
}

.footertext h3 {
  font-family: 'Garet', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.footersection a {
  text-decoration: none;
  color: #fff;
  

}




.footertext .facebook, .twitter, .instagram, .tripadvisor, .youtube  {
  margin-top: 15%;
}



.footertext .facebook a, .twitter a, .instagram a, .tripadvisor a, .youtube a {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 10px;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}

.footertext .facebook a:hover, .twitter a:hover, .instagram a:hover, .tripadvisor a:hover, .youtube a:hover {
  
  color: #fff;
  transform: scale(1.2);
}

.footertext .facebook, .twitter, .instagram, .tripadvisor, .youtube, .fa {
  font-size: 2.5em;
  vertical-align: middle;
  display: inline-block;
}


.footertext .facebook a:hover{
  color: blue;
} 
.footertext .twitter a:hover{
  color:aqua;
} 
.footertext .instagram a:hover{
  color: purple;
} 
.footertext .tripadvisor a:hover{
  color: lime;
} 
.footertext .youtube a:hover{
  color: red;
} 


footer {
  background-color: #497c91;
  color: #fff;
  list-style: none;
  padding-bottom: 1%;
}

.footersection img {
  width: 125px;
}

.copyright {
    margin: auto;
    text-align: center;
} 



/*ANCHOR - Media Query */



@media only screen and (max-width: 425px) {

  body {
    font-size: .8em;
  }

nav {
    display: none;  
  }
  
  .mobile-container {
    margin: auto;
    background-color: #497c91;
    height: auto;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    display: block;
    overflow: hidden;
    background-color: #497c91;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.8em;
    display: block;
    font-family: 'Garet', sans-serif;
    text-align: center;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #333;
    color: white;
  }

  .topnav i {
    color: #497c91;
  }

header {
  position: relative;
  padding: 0.5em;
  height: 65vh;
  color: #fff;
  font-size: 5em;
  overflow: hidden;
  text-align: center;
}

.container{
  padding-top: 25%;
}

header h2 {
  font-size: .8em;
  margin-top: 10%;
  
}

header h1 {
  font-size: 1em;
  margin-top: 25%;
  width: 100%;
  margin-left: -17px;
  text-align: center;
}

@media only screen and (max-height: 780px) {
  header h2 {
    margin-top: 0%;
    
  }
  header h1 {
    margin-top: 0%;
  }

  .container{
    padding-top: 25%;
  }
}

.background-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

/* Add this media query for smaller screens */
@media only screen and (max-width: 425px) {
  .background-images img:nth-child(3) {
    right: -35%; 
    width: 200%; 
  }
}



.heading-row {
  width: 80%;
  margin: auto;
  
}


.line {
  border-bottom: 3px solid #497c91 ;
  width: 100%;
  margin-bottom: 5%;
}


.special-offer-container {
  display: block;
  margin-inline: 10%;
  margin-bottom: 10%;
 
}

.special-offer {
  filter:  drop-shadow(0px 3px 5px rgba(8, 8, 8, .3));
  margin: auto;
  margin-bottom: 5%;
  width: 80%;
  height: auto;
  text-align: center;
  background-color:#ffffff;
  
}

.store-image {
  width: 80%
  
}

.text-container {
  min-height: 51%;
  height: auto;
  background-color: #e6e6e6;
  padding: 2%;
  
}

.special-offer h2, p {
  color: #000000;
  width: 100%;
  text-align: left;
  padding-left: 5%;
  font-size: 1.3em;
  height: 25%;
  }


.special-offer h3{
  
  color: #E90308;
  text-align: left;
  padding-left: 5%;
  
}

.pricebutton a {
  background-image: linear-gradient(to right, #E90308 0%, #E90308 0%);
}

.pricebutton a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 0%;
  height: 0%;
  background-color: #333;
}

.pricebutton a:hover {
  background-position: none;
}


.column-container {
  display: none;
}


  .line {
    margin-left: 0; 
    
  }

  .special-offer-container {
    margin-inline: 0;
  }

  .row1,
  .row2 {
    margin-bottom: -3.5%; 
  }

  .column-container {
    width: 100%;
    margin-inline: 0;
    padding-inline: 1em; 
  }

  .formTitle,
  .formsection {
    width: auto;
    margin-left: 0;
    margin-bottom: 0;
  }

  .formStyle{
    width: 75%;
    padding: 0px;
    margin-inline: auto;
    padding: 20px; 
    margin-top: 5%; }



.formButton {
  margin: auto;
  margin-top: 5%;
  width: 50%;
  background-color: #497c91;
  color: #e6e6e6;
  margin-bottom: 5%;
}




.footersection {
  font-size: 1.2em;
  display: block;
  padding-inline:0;
  width: 100%;
  text-align: center;
}

.footersection img{
  margin: auto;  
  
}

.footertext {
  margin: auto;
  width: auto;
  list-style: none;
  text-align: center;
  margin-bottom: 10%;
}

.footertext .facebook, .twitter, .instagram, .tripadvisor, .youtube  {
  margin-top: 10%;
}

.footertext li{
  margin-top: 10px;
  
}
.footertext h3 {
  font-family: 'Garet', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

footer a {
  text-decoration: none;
  color: #fff;
  

}
}